body {
    background: #001926;
    background: -moz-linear-gradient(-45deg,  #001926 0%, #0c0026 100%);
    background: -webkit-linear-gradient(-45deg,  #001926 0%,#0c0026 100%);
    background: linear-gradient(135deg,  #001926 0%,#0c0026 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001926', endColorstr='#0c0026',GradientType=1 );
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
}

#Site {
    width: 1024px;
    margin: auto;
}

#Header {
    height: 128px;
}

#Logo {
    margin: 32px;
    float: left;
    display: block;
}

#LogoMobile {
    display: none;
}

#SocialMediaIcons {
    float: right;
    display: block;
}

#SocialMediaIconsMobile {
    display: none;
}

#SMa {
    font-size: 0px;
}

#SM {
    margin: 46px 16px;
}

#Content {
    width: 1024px;
    font-size: 0px;
}

#Shot {
    width: 512px;
    height: 512px;
    display: inline-block;
}

#ShotLong {
    width: 1024px;
    height: 512px;
    display: inline-block;
}

#Hover {
    background: #fff;
    height: 448px;
    width: 448px;
    position: absolute;
    margin: 32px;
    display: table;
    opacity: 0.0;
    transition: opacity 0.5s;
}

#Hover:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
}

#HoverLong {
    background: #fff;
    height: 448px;
    width: 960px;
    position: absolute;
    margin: 32px;
    display: table;
    opacity: 0.0;
    transition: opacity 0.5s;
}

#HoverLong:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
}

#Title {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #1a1a1a;
}



@media (max-width: 1024px) {

#Site {
    width: 80%;
    margin: auto;
}

#Header {
    height: 256px;
}

#Logo {
    display: none;
}

#LogoMobile {
    margin: 64px 0px;
    float: left;
    display: block;
}

#SocialMediaIcons {
    display: none;
}

#SocialMediaIconsMobile {
    margin: 64px 0px;
    float: right;
    display: block;
}

#SMaMobile {
    font-size: 0px;
}

#SMMobile {
    margin: 46px 16px;
}

#Content {
    width: 100%;
    font-size: 0px;
}

#Shot {
    width: 50%;
    height: 50%;
    display: inline-block;
}

#ShotLong {
    width: 50%;
    height: 50%;
    display: inline-block;
}
    
#ShotImage {
    width:100%;
}
    
#ShotLongImage {
    width:100%;
}

#Hover {
    background: #fff;
    height: 224px;
    width: 224px;
    position: absolute;
    margin: 16px;
    display: table;
    opacity: 0.0;
    transition: opacity 0.5s;
}

#Hover:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
}

#HoverLong {
    background: #fff;
    height: 224px;
    width: 480px;
    position: absolute;
    margin: 16;
    display: table;
    opacity: 0.0;
    transition: opacity 0.5s;
}

#HoverLong:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
}

#Title {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #1a1a1a;
}
}