body {
    background: #222129;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#Header {
    height: 144px;
    background: #7733ff;
    background: -moz-linear-gradient(-45deg,  #33bbff 0%, #7733ff 100%);
    background: -webkit-linear-gradient(-45deg,  #33bbff 0%,#7733ff 100%);
    background: linear-gradient(135deg,  #33bbff 0%,#7733ff 100%);
}

#Logo {
    background-image: url(Images/Header.png);
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}

#About {
    background: #fafafa;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #222129;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    font-size: 16pt;
}

h2 {
    color: #222129;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    font-size: 32pt;
}

@media screen and (max-width: 1080px) {
    #Header {
        height: 200px;
    }
}