body {
    background: #F5F7FA;
    color: #323133;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
}

button {
    height: 32px;
    width: 32px;
    color:#fff;
}

#Header {
    margin: 64px 0px;
    text-align: center;
}

#Logo {
    margin-bottom: 16px;
}

h1 {
    color: #AAB2BD;
    font-size: 16px;
    font-weight: 300;
    margin: 32px;
}

#SocialMediaBar {
    text-align: center;
    margin-bottom: 32px;
}

.SocialMediaLink {
    color: #3C3B3D;
    font-size: 16px;
    font-weight: 300;
    margin: 32px;
    text-decoration: none;
}

#Content {
    margin: 32px auto;
    width: 1120px;
    display: table;
    text-align: center;
}

.Shot {
    display: inline-block;
    width: 256px;
    height: 256px;
    border: 8px solid #fff;
    box-shadow: 0px 0px 8px rgba(26, 26, 26, 0.16);
    margin: 16px;
}

.Images {
    height: inherit;
    width: inherit;
}