body {
    padding: 0;
    margin: 0;
    background: #140533;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 100vw;
    overflow-x: hidden;
    z-index: 0;
}

::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    width: 8px;
    z-index: -99999;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    z-index: 999999;
    background-color: #fff;
}

#PageOne {
    width: 100vw;
    height: 100vh;
    background: #4e3ffa;
    display: flex;
    margin: 0;
    padding: 0;
}

#Logo {
    width: 25vw;
    height: 25vh;
    margin: auto;
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,0.2));
}

h1 {
    padding: 0;
    margin: 0 0 0 0;
    background-image: url(arklotif.github.io/Assets/Slant1.svg);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 20vh;
    width: 100vw;
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,0.2));
}

h2 {
    padding: 0;
    margin: 0;
    background-image: url(arklotif.github.io/Assets/Slant2.svg);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 20vh;
    width: 100vw;
    filter: drop-shadow(0px -8px 4px rgba(0,0,0,0.2));
}

#PageTwo {
    width: 80vw;
    max-width: 80vh;
    height: 60vh;
    margin: auto;
    text-align: center;
}

.IconGroup {
    font-size: 0;
    width: 20vw;
    height: 20vh;
    max-width: 20vh;
    max-height: 20vw;
    display: inline-block;
    margin: 2vh;
}

.Icons {
    width: 42%;
    height: 42%;
    padding: 4%;
}

#PageThree {
    height: 60vh;
    margin: auto;
    text-align: center;
    background: #4e3ffa;
    font-size: 0;
    padding: auto 10vw auto 10vw;
    font-size: 0;
    display: block;
}

.ImageShowcase {
    width: 80vw;
    margin: auto;
}

.Images {
    max-height: 20vm;
    min-height: 20vm;
    max-width: 60vm;
    min-width: 20vm;
    max-height: 20vmin;
    min-height: 20vmin;
    max-width: 60vmin;
    min-width: 20vmin;
}

#PageFour {
    height: 70vh;
    margin: 10vh 10vw 0 10vw;
    text-align: center;
}

.LinkText, .LinkText:link, .LinkText:visited {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    width: 20vw;
    height: 40vh;
    line-height: 40vh;
    margin: 0vh 2vw 20vh 2vw;
    border: 1vw solid #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    filter: drop-shadow(0px -8px 4px rgba(0,0,0,0.2));
}

.LinkText a {
    font-size: 25%;
}