body {
	background: #001a4d;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#Email {
	background: url(http://arklotif.com/Assets/SVG/Email.svg);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 0;
	position: fixed;
	transform: translateX(-10%);
	left: 10%;
	top: 80px;
	transition: all 0.25s ease;
	z-index: 3;
}

#PayPal {
	background: url(http://arklotif.com/Assets/SVG/PayPal.svg);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 0;
	position: fixed;
	transform: translateX(-25%);
	left: 25%;
	top: 80px;
	transition: all 0.25s ease;
	z-index: 3;
}

#Logo {
	background: url(http://arklotif.com/Assets/SVG/Logo.svg);
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	font-size: 0;
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	top: 0;
	transition: all 0.25s ease;
	z-index: 3;
}

#Twitter {
	background: url(http://arklotif.com/Assets/SVG/Twitter.svg);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 0;
	position: fixed;
	transform: translateX(-75%);
	left: 75%;
	top: 80px;
	transition: all 0.25s ease;
	z-index: 3;
}

#Instagram {
	background: url(http://arklotif.com/Assets/SVG/Instagram.svg);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 0;
	position: fixed;
	transform: translateX(-90%);
	left: 90%;
	top: 80px;
	transition: all 0.25s ease;
	z-index: 3;
}

#Header {
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	background: #3333cc;
	position: fixed;
	transition: all 0.25s ease-out;
	z-index: 2;
}

#Content {
	margin: 200px auto 50px auto;
	width: 768px;
	text-align: center;
	font-size: 0;
}

#LinkSite {
	background: url(http://arklotif.com/Assets/SVG/LinkImage.svg);
}

#LinkImage {
	background: url(http://arklotif.com/Assets/SVG/LinkSite.svg);
}

.Card, .Image, .Info {
	width: 256px;
	height: 256px;
	display: inline-block;
}

.LongCard, .LongImage, .LongInfo {
	width: 512px;
	height: 256px;
	display: inline-block;
}

.InfoBar {
	width: 256px;
	height: 32px;
	margin: 224px 0 0 0;
	background: #fff;
	display: block;
}

.LongInfoBar {
	width: 512px;
	height: 32px;
	margin: 224px 0 0 0;
	background: #fff;
	display: block;
}

.Info {
	position: absolute;
	opacity: 0.0;
	display: block;
	transition: all 0.25s ease;
}

.Info:hover {
	opacity: 1.0;
	display: block;
	transition: all 0.25s ease;
}

.LongInfo {
	position: absolute;
	opacity: 0.0;
	display: block;
	transition: all 0.25s ease;
}

.LongInfo:hover {
	opacity: 1.0;
	display: block;
	transition: all 0.25s ease;
}

h1 {
	font-size: 16px;
	margin: 8px;
	text-align: left;
	color: #003399;
	width: 50%;
	float: left;
	display: block;
}

.CardLink {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	font-size: 0;
	float: right;
	display: block;
	margin: 8px 8px 8px 0px;
}






@media (min-width: 1568px) {
	#Content {
		margin: 200px auto 50px auto;
		width: 1536px;
		text-align: center;
		font-size: 0;
	}

	.Card, .Image, .Info {
		width: 512px;
		height: 512px;
		display: inline-block;
	}

	.LongCard, .LongImage, .LongInfo {
		width: 1024px;
		height: 512px;
		display: inline-block;
	}

	.InfoBar {
		width: 512px;
		height: 64px;
		margin: 448px 0 0 0;
		background: #fff;
		display: block;
	}

	.LongInfoBar {
		width: 1024px;
		height: 64px;
		margin: 448px 0 0 0;
		background: #fff;
		display: block;
	}

	h1 {
		font-size: 24px;
		margin: 18px;
		color: #003399;
		width: 50%;
		float: left;
		display: block;
	}

	.CardLink {
		width: 24px;
		height: 24px;
		margin: 20px 20px 20px 0px;
		background-repeat: no-repeat;
		font-size: 0;
		float: right;
		display: block;
	}
}



@media (max-width: 1024px) {
	#Email {
		background: url(http://arklotif.com/Assets/SVG/Email.svg);
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
		font-size: 0;
		position: fixed;
		transform: translateX(-5%);
		left: 5%;
		top: 60px;
		transition: all 0.25s ease;
		z-index: 3;
	}

	#PayPal {
		background: url(http://arklotif.com/Assets/SVG/PayPal.svg);
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
		font-size: 0;
		position: fixed;
		transform: translateX(-20%);
		left: 20%;
		top: 60px;
		transition: all 0.25s ease;
		z-index: 3;
	}

	#Logo {
		background: url(http://arklotif.com/Assets/SVG/Logo.svg);
		background-repeat: no-repeat;
		width: 200px;
		height: 200px;
		font-size: 0;
		position: fixed;
		transform: translateX(-50%);
		left: 50%;
		top: 0;
		transition: all 0.25s ease;
		z-index: 3;
	}

	#Twitter {
		background: url(http://arklotif.com/Assets/SVG/Twitter.svg);
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
		font-size: 0;
		position: fixed;
		transform: translateX(-80%);
		left: 80%;
		top: 60px;
		transition: all 0.25s ease;
		z-index: 3;
	}

	#Instagram {
		background: url(http://arklotif.com/Assets/SVG/Instagram.svg);
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
		font-size: 0;
		position: fixed;
		transform: translateX(-95%);
		left: 95%;
		top: 60px;
		transition: all 0.25s ease;
		z-index: 3;
	}

	#Header {
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background: #3333cc;
		position: fixed;
		transition: all 0.25s ease-out;
		z-index: 2;
	}

	#Content {
		margin: 200px auto 0 auto;
		width: 100%;
		text-align: center;
		font-size: 0;
	}

	.Card {
		width: 50%;
		height: auto;
	}

	.LongCard {
		width: 100%;
		height: auto;
	}
	
	.Image {
		width: 100%;
		height: auto;
	}
	
	.LongImage {
		width: 100%;
		height: auto;
	}
	
	.Info {
		display: none;
	}
	
	.LongInfo {
		display: none;
	}
}