@font-face {
    font-family: pincoyablack;
    src:url(pincoyablack.otf);
}

body {
    font-family: pincoyablack;
    margin: 0px;
    padding: 0px;
    text-align: center;
    letter-spacing: 8px;
    background-color: #7dd0fa;
}
div {
}
