body {
    padding: 0;
    margin: 0;
    background: #4e3ffa;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#Page {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#Logo {
    width: 25vw;
    height: 25vh;
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,0.2));
}

h1 {
    font-weight: 800;
    color: #fff;
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,0.2));
}