@font-face {
    font-family: Coolvetica;
    src:url(Coolvetica.ttf);
}

body {
    font-family: Coolvetica;
    margin: 0px;
    padding: 0px;
    text-align: center;
    letter-spacing: 8px;
}
div {
}
