@font-face {
    font-family: Damier;
    src:url(Damier.otf);
}

body {
    font-family: Damier;
    margin: 0px;
    padding: 0px;
    text-align: center;
    letter-spacing: 8px;
    background: #000;
}
div {
}
