body {
    font-family: Roboto,sans-serif;
    color: rgba(0,0,0,.7);
    background: #fafafa;
}

.Navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    color: #f44336;
}