body {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,.7);
    background: #fafafa;
}

.Navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    background: #f44336;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.NavbarContent {
    width: 1680px;
}

.TitleText {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    vertical-align: baseline;
}

.Content {
    width: 1680px;
}