body {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,.7);
    background: #fafafa;
    margin: 0px;
    padding: 0px;
}

.Navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    background: #f44336;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.NavbarContent {
    width: 1680px;
    height: 64px;
    margin: 0px auto;
}

.LeftNav {
    float: left;
}

.NavTitle {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    vertical-align: baseline;
    text-decoration: none;
}

.RightNav {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    vertical-align: baseline;
    float: right;
}

.DropdownButton {
    background-color: rgba(0,0,0,0);
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;    
    font-weight: normal;
    height: 64px;
    line-height: 64px;
    vertical-align: baseline;
    border: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px 20px;
    outline: none;
}

.DropdownButton:hover, .DropdownButton:focus {
    background-color: #d32f2f;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 256px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    right: 0px;
}

.dropdown-content a {
    background-color: #fff;
    color: #212121;
    font-family: Roboto, sans-serif;
    font-size: 15px;    
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #eeeeee;
}

.show {
    display:block;
}

.Content {
    width: 1680px;
}