body {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,.7);
    background: #fafafa;
}

.Navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    background: #f44336;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.NavbarContent {
    width: 1680px;
    margin: 0px auto;
}

.TitleText {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    vertical-align: baseline;
}

.DropdownButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display:block;
}

.Content {
    width: 1680px;
}