body {
    background: #fafafa;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
}

#Header {
    height: 100px;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #eee;
}

#HeaderContent {
    height: 100px;
    width: 90%;
    margin: auto;
}

#Logo {
    margin: 18px;
    float: left;
}

#Nav {
    height: 14px;
    padding: 43px 0px;
    float: right;
}

#NavText {
    text-decoration: none;
    margin: 16px;
    font-size: 14px;
    color: #333;
}

#Content {
    width: 80%;
    margin: 32px auto;
    text-align: center;
}

#Icon {
    width: 64px;
    height: 64px;
}

#Social {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 32px;
}

@media (max-width: 1024px) {

#Header {
    height: 200px;
    background: #fff;
    width: 100%;
    border: none;
}

#HeaderContent {
    height: 200px;
    width: 100%;
    margin: auto;
}

#Logo {
    display: none;
}

#LogoMobile {
    margin: 36px;
    float: left;
    display: block;
}

#Nav {
    height: 28px;
    padding: 86px 36px;
    float: right;
}

#NavText {
    text-decoration: none;
    margin: 16px;
    font-size: 28px;
    color: #333;
}

#Content {
    width: 90%;
    margin: 64px auto;
    display: table;
    text-align: center;
    font-size: 0px;
}
}