body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: #18171f;
}

#HeaderWrapper {
    width: 100%;
    position: fixed;
}

#Header {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px #d1e0ff solid;
}

.HeaderText {
    text-decoration: none;
    line-height: 4vh;
    font-size: 1.5vh;
    margin: 2.25vh 0 2vh 0;
    color: rgba(209,224,255,1.0);
    transition: color 0.175s;
}

.HeaderText:hover {
    color: rgba(209,224,255,0.75);
    transition: color 0.175s;
}

#AboutText {
    text-align: left;
}

#ContactText {
    text-align: right;
}

#LogoContainer {
    font-size: 0;
}

.HeaderLogo {
    font-size: 0px;
}

.HeaderLogo img {
    height: 6vh;
    margin: 1.25vh 0 0.75vh 0;
    opacity: 1.0;
    transition: opacity 0.175s ease;
}

.HeaderLogo img:hover {
    opacity: 0.5;
    transition: opacity 0.175s ease;
}

#Content {
    padding: 20vh 10vw 0 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10vw;
}

.ImageContainer {
    position: relative;
    width: 19.25vw;
    height: 19.25vw;
    font-size: 0;
}

.Image {
    width: 100%;
    height: auto;
}

@media screen and (max-aspect-ratio: 5/3){
    
    #Header {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .HeaderText {
        text-decoration: none;
        line-height: 8vh;
        font-size: 2vh;
        margin: 2vh 0;
    }
    
    .HeaderLogo img {
        height: 8vh;
        margin: 2vh 0;
    }

    #AboutText {
        text-align: left;
    }

    #ContactText {
        text-align: right;
    }
    
    #Content {
        padding: 25vh 10vw 0 10vw;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
    }

.ImageContainer {
    width: 26.66vw;
}
}

@media screen and (max-aspect-ratio: 1/1){

    #Header {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 0;
    }
    
    .HeaderText {
        line-height: 15vh;
        font-size: 3vh;
        margin: 0;
    }

    .HeaderLogo img {
        height: 11vh;
        margin: 2vh 0;
    }
    
    #AboutText {
        text-align: center;
    }

    #ContactText {
        text-align: center;
    }

    #Content {
        padding: 15vh 0 0 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .ImageContainer {
        width: 100%;
    }
}