body {
    background: #222129;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #222129;
    text-align: center;
}

#Shot {
    width: 1104px;
    margin: 40px auto 40px auto;
}
#Image {
    width: 1024px;
    height: 1024px;
    border: 40px solid #fff;
}