body {
    background: #222129;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#Header {
    height: 144px;
    background: #3355ff;
    background: -moz-linear-gradient(-45deg,  #33bbff 0%, #7733ff 100%);
    background: -webkit-linear-gradient(-45deg,  #33bbff 0%,#7733ff 100%);
    background: linear-gradient(135deg,  #33bbff 0%,#7733ff 100%);
}

#Logo {
    background-image: url(Images/Header/Header.png);
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}

#Shot {
    width: 1024px;
    margin: auto;
    border: 40px solid #fff;
}

h1 {
    color: #222129;
    text-align: center;
    background: #fff;
    margin: 0px;
}

#Image {
    width: 1024px;
    height: 1024px;
}