@font-face{
    font-family:Atami-Light;
    src:url(Atami-Light.otf);
}

* {
margin: 0;
padding: 0;
}

body {
    background: #001525;
}

#Clock {
    text-align: center;
    margin: 500px 0px 0px 0px;
}

#Time {
    font-family: Atami-Light;
    color: #fff;
}