@font-face{
    font-family:Atami-Light;
    src:url(../font/Atami-Light.otf);
}

* {
margin: 0;
padding: 0;
}

html, body {
    width:100%;
}

body {
    color: #000;
    text-align: center;
}

#Time {
    font-family: Atami-Light;
    font-size: 100%;
}